name: CI

on: [push]

jobs:

  build:

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]

    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout
    - uses: actions/checkout@v1
    - name: Build
      run: make
    - name: Run Tests
      run: make test
